<!-- Menu -->
<div class="nav-container">
    <ul class="nav">
        {% for item in site.navigation %}
        {% assign is_active = false %}
        {% assign item_url = item.url %}
        {% if item_url != '/' %}
            {% assign item_url = item.url | append: '/' %}
        {% endif %}
        {% if page.url == item.url or page.url == item_url or page.url == item.page %}
            {% assign is_active = true %}
        {% endif %}
        <li class="nav__item">
            <a class="{% if is_active %}active{% endif %}" href="{{ item.url | relative_url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
