<!-- Sidebar -->
<aside class="col-12 col-md-12 col-xl-3">
    <div class="sidebar box-outer sticky-column">
        <!-- My photo -->
        <div class="sidebar__base-info">
            <figure class="avatar-box">
                <img src="{{ '/assets/images/my-avatar.png' | relative_url }}" alt="{{ site.author.name }}">
            </figure>

            <div class="text-xl-center">
                <h3 class="title title--h3 sidebar__name">{{ site.author.name }}</h3>
                <div class="badge">{{ site.job_title }}</div>
            </div>

            <button class="btn btn--small btn--icon-right sidebar__btn js-btn-toggle"><span>Show Contacts</span><i
                    class="feathericon-chevron-down"></i></button>
        </div>

        <div class="sidebar__additional-info js-show">
            <div class="separation"></div>
            <ul class="details-info">
                <!-- Email -->
                <li class="details-info__item">
                    <span class="box icon-box"><i class="font-icon icon-envelope"></i></span>
                    <div class="contacts-block__info">
                        <span class="overhead">Email</span>
                        <a class="text-overflow" href="mailto:{{ site.email }}" title="{{ site.email }}">{{ site.email }}</a>
                    </div>
                </li>
                <!-- LinkedIn -->
                <li class="details-info__item">
                    <span class="box icon-box"><i class="feathericon-linkedin"></i></span>
                    <div class="contacts-block__info">
                        <span class="overhead">LinkedIn</span>
                        <a class="text-overflow" href="{{ site.linkedin_url }}" title="{{ site.linkedin_url }}">/in/{{ site.linkedin_handle }}</a>
                    </div>
                </li>
                <!-- Location -->
                <li class="details-info__item">
                    <span class="box icon-box"><i class="font-icon icon-location"></i></span>
                    <div class="contacts-block__info">
                        <span class="overhead">Location</span>
                        <span class="text-overflow" title="{{ site.location }}">{{ site.location }}</span>
                    </div>
                </li>
            </ul>
            <div class="separation d-xl-none"></div>

            <!-- Social -->
            <div class="social">
                <a class="social__link" href="{{ site.github_url }}" aria-label="GitHub"><i class="feathericon-github"></i></a>
                <a class="social__link" href="{{ site.linkedin_url }}" aria-label="LinkedIn"><i class="feathericon-linkedin"></i></a>
            </div>
        </div>
    </div>
</aside>
